@font-face {
    font-family: "FunSized";
    src: url(../font/FunSized.ttf) format("truetype");
}

@media (max-width: 980px) {
#container {
        width: 90%;
    }
}

@media (max-width: 1670px) and (min-width: 981px) {
    #container {
        width: 60%;
    }
}

@media (min-width: 1671px) {
#container {
        width: 33%;
    }
}

body {
    background: url(http://www.designbolts.com/wp-content/uploads/2013/02/Texture-Tasty-Grey-Seamless-Pattern-For-Website-Background.jpg);

    width: 100%;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* Safari and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

#container {
    margin-top: 30px;
    background: #fff;
    border: 4px #E6772E solid;
    border-radius: 25px;
}

#header {
    background: url(http://www.texturehd.com/data/media/12/fabric_electric_orange_texture.jpg);
    padding: 20px;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px #E6772E solid;
    text-align: center;
    color: white;
    font-family: "FunSized", sans-serif;
    font-size: 35px;
}

#content-container {
    float: left;
    width: 100%;
    border-radius: 25px;
}

#content {
    clear: left;
    float: left;
    width: 58%;
    padding: 12px 0 0;
    border-right: 1px #E6772E solid;
    margin: 10px 10px 10px 4%;
    display: inline;
    min-height:150px;
}

.title {
    color: #E6772E;
    font-family: "FunSized", sans-serif;
    font-size: 22px;
    margin: 0 0 5px;
}

#aside {
    float: right;
    width: 33%;
    padding: 20px 0;
    margin: 0 3% 0 0;
    display: inline;
}

.boxesInfo {
    padding: 5px;
}

button {
    background: #f08848;
    background-image: -webkit-linear-gradient(top, #f08848, #d16b2c);
    background-image: -moz-linear-gradient(top, #f08848, #d16b2c);
    background-image: linear-gradient(to bottom, #f08848, #d16b2c);
    color: #ffffff;
    border: 1px #E6772E solid;
}

button:hover {
    background: #e68f59;
    background-image: -webkit-linear-gradient(top, #e68f59, #e68550);
    background-image: -moz-linear-gradient(top, #e68f59, #e68550);
    background-image: linear-gradient(to bottom, #e68f59, #e68550);
}

ul {
    list-style-type: none;
    padding: 0 0 0 0;
}

#box {
    margin: 0 0 15px;
}

#player {
    visibility: hidden;
    display: none;
}

#shovel {
    border-radius: 0 25px 25px 0;
    min-height: 50px;
    min-width: 60px;

}